# Creating Variables

In [2]:
var = "first"
var1 = 2
print(var)
print(var1)
print(type(var))
print(type(var1))

first
2
<class 'str'>
<class 'int'>

In [3]:
a,b,c = 10,20,30
print(a)
print(b)
print(c)

10
20
30

In [46]:
e=f=g = "name"
print(e)
print(f)
print(g)
e = 9
print(e)
print(f)
print(g)

name
name
name
9
name
name

# list

In [6]:
list1 = ["apple", "banana", "cherry", "apple", "cherry"]
print(list1)

['apple', 'banana', 'cherry', 'apple', 'cherry']

# len function

In [9]:
print(len(list1))

5

# convert

In [12]:
list2=list(("apple", "banana", "cherry", "apple", "cherry"))
print(list2)

['apple', 'banana', 'cherry', 'apple', 'cherry']

# Access Items

In [16]:
list3 = ["apple", "banana", "cherry","mango",10,20,30,40]
print(list3[0:])
print(list3[0:5])
print(list3[3:6])
print(list3[0:7:2])
print(list3[-1:])
print(list3[-5:-1])

['apple', 'banana', 'cherry', 'mango', 10, 20, 30, 40]
['apple', 'banana', 'cherry', 'mango', 10]
['mango', 10, 20]
['apple', 'cherry', 10, 30]
[40]
['mango', 10, 20, 30]

# Check if Item Exists

In [18]:
if "apple" in list3:
    print("yes")

yes

# Change Item Value

In [19]:
list3[2] = "santosh"
print(list3)

['apple', 'banana', 'santosh', 'mango', 10, 20, 30, 40]

# insert

In [20]:
list3.insert(2,"yadav") #To insert a list item at a specified index, use the insert() method.

In [21]:
print(list3)

['apple', 'banana', 'yadav', 'santosh', 'mango', 10, 20, 30, 40]

# Add List Items

In [22]:
list3.append("mirror") #To add an item to the end of the list, use the append() method:

In [23]:
print(list3)

['apple', 'banana', 'yadav', 'santosh', 'mango', 10, 20, 30, 40, 'mirror']

# extend

In [24]:
list3.extend(list1)
print(list3)

['apple', 'banana', 'yadav', 'santosh', 'mango', 10, 20, 30, 40, 'mirror', 'apple', 'banana', 'cherry', 'apple', 'cherry']

# Remove Specified Item

In [26]:
list3.remove("yadav")
print(list3)

['apple', 'banana', 'santosh', 'mango', 10, 20, 30, 40, 'mirror', 'apple', 'banana', 'cherry', 'apple', 'cherry']

In [27]:
list3.pop(5)
print(list3)

['apple', 'banana', 'santosh', 'mango', 10, 30, 40, 'mirror', 'apple', 'banana', 'cherry', 'apple', 'cherry']

# For Loop in list

In [32]:
list4 = ["one","two","three","four","five"]
for i in list4:
    print(list)

one
two
three
four
five

In [30]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

# sets

In [34]:
sets1 = {"santosh","yadav","name"}
print("santosh" in sets1)

True

# Python If ... Else

In [35]:
a = 10
b = 20
if a < b:
    print("true")

true

In [42]:
a = 10
b = 20
c = 30
if a<b and c<a:
    print("true")
else:
    ("false")

# While Loop

In [43]:
i = 0 
while i < 10:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9

In [44]:
i = 0 
while i < 10:
    print(i)
    if i == 5:
        break
    i = i+1

0
1
2
3
4
5

In [47]:
i = 0
while i < 5:
    print(i)
    i = i+1
else:
    print("hello")

0
1
2
3
4
hello